<div class="beware">
  <h3>Where will the downloads go?</h3>
  <p>The album will be saved in the download location set by your browser, just like any other download. If you do not know where this is, check your browser settings. A few possibilities are:</p>
    <ul><li>Desktop</li><li>Downloads Folder</li><li>Documents Folder</li></ul>
</div>
