

<h1>Thank You!</h1>

<p>Thank you so much for your donation! Students in Richmond schools will have more books to read thanks to donors like you. Enter your Amazon order number from your email receipt below to download the Pomplamoose Christmas album.</p>


<div class="ordernumber">

  <div class="beware">
  <h3><span>i</span>Pads, <span>i</span>Phones, Smartphones and Tablets</h3>
  <p>Most handheld devices do not allow you to save downloads &mdash; please switch to your <b>home computer</b> before submitting this form!</p>
  </div>

  <div class="beware">
  <h3>At Work or on your Work computer?</h3>
  <p>We only allow you to download to one computer &mdash; please switch to your <b>home computer</b> before submitting this form!</p>
  </div>


<%= simple_form_for @donor, :url => submit_registration_donors_path do |f| %>

  <%= f.input :order_number,
      :label => 'Enter Your Order Number Below',
      :hint => 'Each order number is only valid on one computer.',
      :input_html => {
          :maxlength => 50,
          :size => 50
      } 
  %>
  <%= f.submit 'Get Your Pomplamoose Christmas Album' %>
<% end %>
</div>

<%= image_tag 'email.png' %>
