<% title "Donors" %>

<h1>Donor List</h1>
<% admin_page %>


<%= form_tag donors_path, :method => 'get', :id => "index_search", :class => "search_form" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="donors"><%= render 'donors' %></div>
<% end %>

