<% title "Download" %>

<h1>Thank You!</h1>

<p>
  <b>Download Pomplamoose's Christmas Album!</b>
  <ul>
  <% Gift.all.each do |gift| %>
    <li><%= link_to gift.name, download_donor_gift_path( @donor, gift ) %></li>
  <% end %>
  </ul>
</p>

<p>If you would like to receive a physical CD in the mail, <%= link_to "give us your address", edit_donor_path( @donor ) %>.</p>