html, body {
  background-color: #666666;
  font-family: comic sans ms;
  color: #333333;
}

.container {
  width: 640px;
}


a, a:link, a:visited, a:active {
  color: #006611;
  text-decoration: none;
}

a:hover {
  color: #992211;
  text-decoration: underline;
}



.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}



header {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #eeeeee;
  padding: 10px;
  box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.4 ) -0px 3px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;
}


header h1 {
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}


header h2 {
  margin: 0;
  padding: 0;
  font-style: italic;
  color: #333333;
}


section {
  background-color: #dddddd;
  box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.4 ) -0px 3px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;  

  padding: 20px 25px;
  font-size: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
}


footer {
  text-align: center;
  margin-top: 10px;
}

div.home li {
  margin-bottom: 1em;
}

div.wl_link {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  margin: 0;
  padding-bottom: 25px
}


input[type='text'] {
  padding: 8px 5px;
  font-size: 125%;
  letter-spacing: 1px;
}
