/* reset */
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline: 0;}

/* forms */
label {
  font-weight: bold;
  font-size: 116%;
}


/* tables */
th, td {
  border: none;
}


html, body {
  font-family: trebuchet ms, georgia;
  color: #333333;
  background-color: #666666;
}


.container {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.admin_container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}


a, a:link, a:visited, a:active {
  color: #006611;
  text-decoration: none;
}


a:hover {
  color: #503020;
  text-decoration: underline;
}


#header {
  position: relative;
  top: 0;
  left: 0;

  margin-top: 15px;
  margin-bottom: 10px;

  padding: 10px;
  height: 100px;

  background-image: url('/images/title-banner.gif');
  background-color: #eeeeee;

  box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.4 ) -0px 3px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;
	
	-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;

  text-align: center;
}


#header h1 {
  margin: 0;
  padding: 0;

  color: transparent;

  font-size: 4em;
  font-family: impact;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#header .transparent, #header .transparent a:link, #header .transparent a:active, #header .transparent a:visited {
  color: transparent;
}

#header .transparent a:hover {
  text-decoration: none;
  color: transparent;
}

#header .transparent h1, #header .transparent h2 {
  display: none;
}

#header h2 {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 2em;
}

#header .transparent h2 {
  color: transparent;
  display: none;
}


#header .nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#header .nav span, #header .nav a, #header .nav a:link, #header .nav a:visited, #header .nav a:active {
  display: inline;
  margin-right: 10px;
  padding: 5px 10px;

  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  
  box-shadow: rgba(0,0,0, 0.5) -0px 2px 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.5 ) -0px 2px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.5) -0px 2px 2px;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease;

  font-size: 123.1%;
  color: #eeeeee;
  font-weight: bold;
}

#header .nav a {
  background-color: #004411;
}

#header .nav a:hover {
  background-color: #403020;
  text-decoration: none;
}

#header .nav span {
  background-color: #555555;
}

#header .title a {
  display: block;
  height: 45px;
  width: 100%;
}


.admin {
  display: block;
  float: none;
  clear: both;
  margin-bottom: 10px;
}

.admin em {
  font-size: 138%;
  margin-right: 10px;
  padding-right: 15px;
  border-right: 2px solid #505050;
  height: 100%;
  color: #505050;
}

.admin .nav {
  display: inline;
}

.admin .nav span, .admin .nav a, .admin .nav a:link, .admin .nav a:visited, .admin .nav a:active {
  margin-right: 2px;
  font-size: 123.1%;
  color: #333;
  padding: 5px 10px;
  
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;

  font-weight: bold;
  
}


.admin .nav a {
  background-color: transparent;
}

.admin .nav a:hover {
  background-color: #333;
  color: #999;
  text-decoration: none;
}

.admin .nav span {
  background-color: #333;
  color: #999;
}

.admin strong {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}



div#video {
  margin-bottom: 10px;
}


#section {

  padding: 15px 20px;
  margin-bottom: 10px;
  overflow: hidden;
  
  box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.4 ) -0px 3px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.4) -0px 3px 6px;  

  border-radius:         10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;

  background-color: #dddddd;

}

#section h1 {
  font-size: 182%;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

#footer {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}

.home {
}

.home h3 {
  margin: 10px 0 25px;
  font-size: 167%;
  font-style: italic;
  text-align: center;
  color: #333333;
}

.home ol {
  list-style-type: none;
  padding-left: 20px;
}

.home ol li {
  padding: 0;
  margin: 0 0 2em;

  list-style-type: none;

  font-size: 131%;
}

.home ol li span {
  position: relative;
  top: -3px;

  float: left;
  height: 100%;
  margin-right: 20px;

  font-weight: bold;
  font-size: 143%;
  color: #555;
}

.wl_link {
  margin-bottom: 40px;
  text-align: center;
}


.wl_link a {
  padding: 7px 20px;

  box-shadow: rgba(0,0,0, 0.4) -3px 3px 3px;
	-webkit-box-shadow: rgba(0,0,0, 0.4 ) -3px 3px 3px;
	-moz-box-shadow: rgba(0,0,0, 0.4) -3px 3px 3px;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease;
    
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;

  background-color: #004411;
  color: #eeeeee;

  text-align: center;
  font-weight: bold;
  font-size: 153.9%;

}


.wl_link a:hover {
  background-color: #403020;
  text-decoration: none;
}


.links {
  margin-top: 5px;
  margin-bottom: 10px;
}

div.input {
  margin-bottom: 15px;
}

input {
  margin: 0;
}

textarea, input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='url'] {
  padding: 8px 5px;
  margin: 0;
  border-width: 0;
  width: auto;
  
  border-radius:         10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;

  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;  

  font-size: 131%;
  letter-spacing: 2px;
  background-color: #6688aa;

}

textarea:focus, input[type='text']:focus, input[type='email']:focus, input[type='password']:focus,  input[type='number']:focus, input[type='url']:focus {
  background-color: #aaaaaa;
}

textarea {
  width: 100%;
}


input[type='checkbox'] {
  margin-left: 0;
}

div.submit {
  text-align: center;
}


label {
  display: block;
  margin: 0 5px 5px;
  padding: 0;
}

label abbr {
  display: none;
}


.error {
  display: block;
  font-size: 12px;
  color: #D00;
}

.field_with_errors input {
  border-color: #D00;
  background-color: #D99;
  border-width: 2px;
}

.hint {
  display: block;
  margin-left: 5px;

  color: #555;
  font-size: 12px;
  font-style: italic;
}

.alert, .notice {
  font-size: 138.5%;
}

.help {
  font-size: 100%;
  line-height: 138%;
  font-style: italic;
  text-align: center;
}

.school {
  margin-bottom: 25px;
  margin-left: 50px;
}

.school h3 {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 138.5%;
}

.school p {
  margin-bottom: 5px;
}

.school ul {
  margin: 0 0 5px 30px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.school ul li {
  margin-bottom: 5px;
}

.school ul li span {
  font-weight: bold;
  font-size: 121%;
  margin-right: 5px;
}

.schoolstats {
  background-color: #aaa;
  margin: 35px auto 15px;
  font-size: 90%;
  padding: 5px;
  width: 75%;
}

.schoolstats th {
  width: 50%;
  background-color: #999;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 10px 20px;
}

.schoolstats td {
  padding: 7px 15px;
  white-space: nowrap;
}

.schoolstats tr {
  border-bottom: 1px dotted #444;
}

.schoolstats tr:last-child {
  border-bottom: none;
}


.index tbody tr:nth-child(even) td, tbody tr.even td {
  background-color: transparent;
}

.index tbody tr:nth-child(even), tbody tr.even {
  background-color: #E5ECF9;
}

.index tbody tr:hover {
  background-color: #779977;
  cursor: pointer;
}

table.index {
  width: 100%;
}

thead th {
  background-color: #999999;
  color: #dddddd;
  font-size: 123.1%;
  font-weight: bold;
}

tfoot tr td {
  border-top: 2px solid #666;
}

.pagination {
  float: right;
}

p.mission {
  margin-bottom: 1.5em;
}

blockquote {
  font-weight: bold;
  font-size: 123.1%;
  color: #666;
  margin-left: 35px;
}


/* flash */
.error, .alert, .notice, .success, .info {padding:0.8em;font-size:123.1%;margin-bottom:10px;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}



/* Book */

.show_book h1 {
  margin-bottom: 5px;
}

.show_book h2 {
  margin-top: 0;
  font-size: 167%;
}


.left {
  float: left;
}

.right {
  float: right;
}

.statbox {
  width: 175px;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 20px;
  
  border-radius:         8px;
  -moz-border-radius:    8px;
  -webkit-border-radius: 8px;

  box-shadow: rgba(0,0,0, 0.4) -3px 3px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.4 ) -3px 3px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.4) -3px 3px 6px;

  background-color: #fff;  
}

.statbox h3 {
  text-transform: uppercase;
  color: #169;
  margin: 0;
  padding-bottom: 2px;
  border-bottom: 2px solid #631;
  font-size: 138%;
  font-style: normal;
}

.statbox ul {
  margin: 0;
  font-size: 121.3%;
  font-weight: bold;
}

.statbox ul li {
  display: block;
  padding: 5px;
  border-bottom: 1px dotted #631;
  overflow: hidden;
}

.statbox ul li:last-child {
  border-bottom: none;
}

.statbox ul li em {
  float: right;
  font-style: normal;
  color: #666;
}

.statbox ul li span {
  float: left;
  font-style: normal;
  font-weight: bold;
}

.statbox .comment {
  font-size: 85%;
}

.copies ul {
  font-size: 85%;
  font-weight: normal;
}

.copies form {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.copies ul li span {
  font-weight: normal;
}

img.book_cover {
  margin-left: 50px;
  margin-bottom: 50px;
  float: right;
  max-width: 300px;
}

.book_info {
  float: left;
}

.book_info .section {
  margin-bottom: 30px;
  font-size: 125%;
}

.book_info .section h3 {
  border-bottom: 2px solid #666;
  font-size: 125%;
}

.book_info .price {
  color: #900;
}

.book_info .strike_price {
  color: #888;
  font-size: 85%;
}

.book_info .statbox {
  width: 250px;
}

.bookstats {
  float: right;
  font-size: 75%;
  margin-right: 0;
  margin-left: 25px;
}

.staff_overview p {
  font-size: 121%;
  
}

.staff_overview ul {
  margin-left: 100px;
}

.staff_overview ul li {
  margin-bottom: 20px;
  list-style: none;
  font-size: 121%;
  
}

.staff_overview ul li a {
  font-size: 138%;
  font-weight: bold;
}

.oops p {
  margin-top: 25px;
  font-size: 138%;
}

.oops ul {
  margin: 25px 0 25px 75px;
}

.oops ul li {
  font-size: 138%;
  margin-bottom: 25px;
}

.article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #999;
}

.article h3 {
  font-size: 138%;
  margin-bottom: 5px;
}

.article h3 span {
  float: right;
}

.article .summary {
  margin-bottom: 0;
}

.article .source {
  font-style: italic;
  font-size: 108%;
}

.article .embed {
  margin-top: 20px;
}

.copy_actions label {
  display: none;
}


.ordernumber {
  padding: 20px 12px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background-color: #555;
  color: #e0e0e0;
  margin: 25px auto;
  text-align: center;
}


.beware {
  padding: 10px 12px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  border: 2px solid #631;
  background-color: #a85;
  color: #521;
  margin: 0 auto 25px;
  width: 70%;
  text-align: center;
}

.beware p {
  margin: 0;
}


.beware h3 {
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
}

.beware h3 span {
  text-transform: none;
}


.ordernumber label {
  font-size: 121%;
  margin-bottom: 10px;
}

.ordernumber .hint {
  font-size: 113%;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.ordernumber input[type='text'] {
  padding: 8px 12px;
  background-color: #999;
}

.field_with_errors textarea, .field_with_errors input[type='text'], .field_with_errors input[type='email'], .field_with_errors input[type='password'], .field_with_errors input[type='number'], .field_with_errors input[type='url'] {
  background-color: #e88;
}

.ordernumber .field_with_errors .error {
  width: 75%;
  margin: 0 auto;
}


