<% title "Users &raquo; " + @user.email %>
<% admin_page %>



<div class="links">
<%= link_to 'Edit', edit_user_path(@users) %> |
<%= link_to 'Back', users_path %>
</div>

<h1>User: <%= @user.email %></h1>


