<% simple_form_for @gift, :html => { :multipart => true } do |f| %>

  <%= f.input :name %>
  <%= f.input :attachment, :as => :file %>
  
  <div class='submit'>
  <%= f.button :submit %>
  </div>
  
<% end %>
