<h1>Download Gifts</h1>

<p>The following gifts are available for download:</p>

<p>
  <b>Gifts</b>
  <ul>
  <% Download.all.each do |download| %>
    <li><%= link_to download.name, download_download_path( download ) %></li>
  <% end %>
  </ul>
</p>

<div>
<%= @gift.confirmation_code %>
<%= @gift.zip %>
</div>