<% title "Cookies Required!" %>

<h1>Oops! Cookies must be enabled!</h1>

<div class="oops">

<p>Cookies are required in order to submit your order number. Please make sure that your browser is set to accept cookies.</p>

<p>Once you have confirmed that cookies are enabled in your browser,<br />return to the <b><%= link_to "Thank You", thankyou_path %></b> page to try again.</p>

</div>