<% title "FAQ" %>

<% hold_flash_notices %>


<h1>About The Drive</h1>

<h2>Where are my donated books going?</h2>

<p>The donated books will be divided appropriately between five worthy schools in Richmond, California: three high schools, one middle school and one elementary school. Check out our <%= link_to "About", about_path %> page for more information on the schools that will be benefiting from your generosity.</p>

<h2>How did you decide which books to contribute to the schools?</h2>

<p>Our list was created in consultation with professional librarians who have experience in finding outstanding books for young adults.  In particular, the librarians with whom we worked have experience in finding books that will be appealing to reluctant readers.  In addition to the titles that were recommended to us through the librarians with whom we partnered, we took requests from hardworking and dedicated English teachers throughout the partner schools, providing class sets of novels that they can read with all their students.</p>

<h2>Is my donation tax-deductible?</h2>

<p>Yes! The tax ID number for Leadership​ Public Schools, the school processing all donations, is 73-1643646.</p>

<h2>So who’s behind all this?</h2>

<p>The Richmond Book Drive was born out of a conversation one night between LPS-Richmond English teacher Tyler Hester and Jack Conte and Nataly Dawn of Pomplamoose. Tyler was grading his students’ quizzes at an ice cream parlor and talking about the fact that his students were working incredibly hard and performing at an increasingly high level. When Jack and Nataly asked how they could support his work, Tyler said that one idea would be to flood his school and the surrounding schools with outstanding young adult novels.  Jack and Nataly immediately offered to help, and the idea for a book drive was formed. They brought their friends Lauren Schneider and Marshall Bessières on to the team to help with operations and web development; a few short weeks later the Richmond Book Drive came to life!</p>

<h2>Who should I tell about this awesome book drive?</h2>

<p>Everyone you know. Even people you don’t know. Just spread the word!</p>

<br /><br />

<h1>Technical Issues</h1>

<h2>The address for Richmond Book Drive isn’t showing up in the shipping options for my Amazon order.  Where should I ship my book to?</h2>

<p>Amazon can be fickle! If this happens, you can enter the address manually. Ship to:

<blockquote>Richmond Book Drive<br />
c/o Leadership Public Schools - Richmond<br />
251 S. 12th St.<br />
Richmond, CA 94804<br />
</blockquote>

<p>And you can input your own phone number as the phone number. Sorry for the 			inconvenience!</p>

<h2>Why do I get an error message telling me my order number has already been used on another computer?</h2>

<p>Each order number is only valid for use on one computer. We did this to discourage people from sharing order numbers in order to access the Pomplamoose Christmas album. Instead of using someone else’s order number, donate a book of your own and come back to earn your Christmas album!</p>

<h2>Why do I get an error message telling me my order number is not valid when I enter my Amazon order number for the Pomplamoose album?</h2>

<p>If you are, in fact, entering a valid order number, this error typically occurs when there are extra spaces included with the order number. We recommend typing the number in	manually to avoid including any extra spaces.</p>

<h2>Can I download the mp3s from my iPad, iPhone, Droid, [insert handheld device here]?</h2>

<p>Unfortunately, our website does not currently support downloads from these devices. You may be able to stream the songs from some of these devices, but be careful - once you enter your order number on your handheld device, it will not be valid on a separate computer if you want to download the files. Choose your computing device wisely!</p>

<br />

<p><i>Still got questions? Shoot an email to <%= link_to "richmondbookdrive@gmail.com", "mailto:richmondbookdrive@gmail.com" %> and hopefully we’ll have an answer for you!</i></p>