<% title "FAQ" %>


<h1>Technical Issues</h1>

<h2>The address for Richmond Book Drive isn’t showing up in the shipping options for my Amazon order.  Where should I ship my book to?</h2>

<p>Amazon can be fickle! If this happens, you can enter the address manually. Ship to:

<blockquote>Richmond Book Drive<br />
c/o Leadership Public Schools - Richmond<br />
251 S. 12th St.<br />
Richmond, CA 94804<br />
</blockquote>

<p>And you can input your own phone number as the phone number. Sorry for the 			inconvenience!</p>

<h2>Why do I get an error message telling me my order number has already been used on another computer?</h2>

<p>Each order number is only valid for use on one computer. We did this to discourage people from sharing order numbers in order to access the Pomplamoose Christmas album. Instead of using someone else’s order number, donate a book of your own and come back to earn your Christmas album!</p>

<h2>Why do I get an error message telling me my order number is not valid when I enter my Amazon order number for the Pomplamoose album?</h2>

<p>If you are, in fact, entering a valid order number, this error typically occurs when there are extra spaces included with the order number. We recommend typing the number in	manually to avoid including any extra spaces.</p>

<h2>Can I download the mp3s from my iPad, iPhone, Droid, [insert handheld device here]?</h2>

<p>Unfortunately, our website does not currently support downloads from these devices. You may be able to stream the songs from some of these devices, but be careful - once you enter your order number on your handheld device, it will not be valid on a separate computer if you want to download the files. Choose your computing device wisely!</p>

<br />

<p><i>Still got questions? Shoot an email to <%= link_to "richmondbookdrive@gmail.com", "mailto:richmondbookdrive@gmail.com" %> and hopefully we’ll have an answer for you!</i></p>