<% title "Home" %>

<% content_for :video do %>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/wcVkb8kJLJE?fs=1&amp;hl=en_US&amp;rel=0&amp;autoplay=1&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/wcVkb8kJLJE?fs=1&amp;hl=en_US&amp;rel=0&amp;autoplay=1&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<% end %>

<div class="home">

<ol>
  <li><b><a href="http://www.amazon.com/registry/wishlist/1WJWNVAVRKJVO?reveal=unpurchased&filter=all&sort=priority&layout=standard&x=12&y=8" target="_blank">Visit the Wish List</a></b> on Amazon.com to select and purchase a book (or books!) for Richmond's students.</li>
  <li>Make sure to select Richmond Book Drive as the shipping address.</li>
  <li>Once you’ve completed your order, visit the <b><a href="/thankyou">Thank You</a></b> page to download Pomplamoose's Christmas Album.</li>
</ol>

<p>Interested in donating <b><%= link_to 'used books', usedbooks_path %></b>? Find out where to send them.</p>

<div class="wl_link">
<a href="http://www.amazon.com/registry/wishlist/1WJWNVAVRKJVO?reveal=unpurchased&filter=all&sort=priority&layout=standard&x=12&y=8" target="_blank">View the Wish List on Amazon.com</a>
</div>

<p>Learn more about the <b><%= link_to "Richmond schools", schools_path %></b> that are receiving your donated books!</p>

<p>Need Help? Check out our <b><%= link_to "FAQ", faq_path %></b> or email us at <a href="mailto:richmondbookdrive@gmail.com">richmondbookdrive@gmail.com</a></p>



</div>



