<% title "LPS-Richmond Library" %>

<h1>LPS-Richmond Needs a Library</h1>

<img src="/images/img0644_250.jpg" width="250" height="188" alt="Books and Students" style="float:right;margin: 0 0 20px 20px;" />

<p>The response to the Richmond Book Drive has far exceeded anyone's expectations. You all have donated over 10,000 books in less than a month, and untold numbers of current and future students will reap the benefits of fantastic books at their fingertips.</p>

<p>Leadership Public Schools - Richmond, one of the beneficiary schools of the Richmond Book Drive, currently houses their library in a small converted bathroom. Luckily, they will be moving to a new campus outfitted with a library in Fall 2012, but in the meantime, they don't have an appropriate home for all of their new books!</p>

<p>We are asking for donations to help LPS rent a portable library building for the next 18 months. Any amount helps! You can (donate through PayPal/donate through the LPS account. On this page, make sure you note that the gift is on behalf of Richmond Book Drive in order for your donation to be used for the library.)</p>

<p>Thank you for your support!</p>

<%= render :partial => '/layouts/paypal_button' %>