<% content_for :head do %>
<meta http-equiv="refresh" content="1;url=<%= @p_url %>" />
<% end %>

<% title "Redirecting Offsite" %>

<h1>Sending you offsite!</h1>

<p>We're sending you to <b><%= link_to @p_title, @p_url, :target => '_blank' %></b></p>

