<% title "Oops!" %>

<h1>Oops! Something went wrong!</h1>

<div class="oops">

<p>What you were trying to do didn&rsquo;t work, now did it? Try one of these:</p>

<ul>

  <li><%= link_to "Go back to the home page", root_path %></li>
  <li><%= link_to "Check out our FAQ's", faq_path %></li>
  <li><%= link_to "Email us for help at richmondbookdrive@gmail.com", "mailto:richmondbookdrive@gmail.com" %></li>
  
</ul>
  
  
</div>