<% title "Schools" %>

<h1>Schools</h1>

<p>The following schools in Richmond, California are the lucky beneficiaries of your book donations! We included recent statistics about the reading proficiencies at each of these schools:</p>

<p><b>Lovonya DeJean Middle School</b> – averaged 26% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 55%)</p>

<p><b>Leadership Public Schools - Richmond</b> - averaged 26% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 47%)</p>

<p><b>Kennedy High School</b> – averaged 21% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 47%)</p>

<p><b>Richmond High</b> - averaged 20% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 47%)</p>

<p>There are Richmond Book Drive Ambassadors at each of these school sites who will work diligently to ensure that the books are cared for and used as effectively as possible to inculcate a love of reading among Richmond's terrific young people. Thank you for your support!</p>