  
<h1>Thank You!</h1>

<p>Thank you so much for your donation! Students in the Richmond School district will have more books to read thanks to donors like you.</p>

<p>To receive your free gift, please fill out the form below!</p>

<%= render :partial => "/donors/form" %>
