  
<h1>Thank You!</h1>

<p>Thank you so much for your donation! Students in Richmond schools will have more books to read thanks to donors like you.</p>

<p>Enter your Amazon order number from your email receipt here to download the Pomplamoose Christmas album:
</p>

<%= render :partial => "/donors/form" %>

