<% title "Thank You" %>
<% hold_flash_notices %>

<h1>Thank You!</h1>

<p>Thank you so much for your donation! Students in Richmond schools will have more books to read thanks to donors like you.</p>

<p>Enter your Amazon order number from your email receipt below to download the Pomplamoose Christmas album.</p>

<p><i>Each order number is only valid on one computer. iPads, iPhones, and many other handheld devices do not allow you to save downloads. Please be sure you&rsquo;re using the appropriate computer before submitting this form.</i></p>

<%= render :partial => "/donors/new_form" %>

