<% title "Used Books" %>

<h1>Donating Used Books</h1>

<p>If you have used books you want to donate, please send them to this address:</p>

<blockquote>Richmond Book Drive<br />
c/o Leadership Public Schools - Richmond<br />
251 S. 12th St.<br />
Richmond, CA 94804</blockquote>

<p>Due to technical and staffing limitations, we are unable to provide mp3s to people who mail in used books. However, the students of Richmond are grateful for any support you can provide.</p>