<% title "Used Books" %>

<% hold_flash_notices %>

<img src="/images/img0599_200.jpg" width="200" height="150" alt="Student reading book" style="float:right;margin: 0 0 25px 25px;" />

<h1>Donating Used Books</h1>


<%= snippet 'Used Books' %>