<% title "Schools &raquo; " + @school.name + " &raquo; Edit" %>
<% admin_page %>


<h1>Editing school</h1>

<div class="links">
<%= link_to 'Show', @school %> |
<%= link_to 'Back', schools_path %>
</div>


<%= render 'form' %>

