<header class="round">

  <h1><%= link_to 'Richmond Book Drive', '/' %></h1>
  <h2>Ignite a student's love of reading by donating a great book!</h2>

</header>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

