<header class="round">

  <h1>Richmond Book Drive</h1>
  <h2>Donate books to help students read!</h2>

</header>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

