<div class="thermometer">
  <div style="float:left;width:250px;">    
  <img alt='Progress' src='http://www.fundraiserinsight.org/libs/thermometer.php?current=<%= snippet 'Library - Donations To Date' %>&max=<%= snippet 'Library - Donation Goal' %>&curr=36&t_id=0&skin=small_hor' border='0' style="position: absolute; clip: rect(1px 250px 35px 0);" />&nbsp;
  </div>
  <span><%= number_to_currency snippet('Library - Donation Goal'), :precision => 0 %> Goal</span>
</div>
